<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de tarefas</title>
    <link rel="stylesheet" href="../../../public/css/home.css">
    
    
</head>
<body>
    <header>    
        
    </header>
    <main>
        <div id="div_main">
            <div id="div_principal">
                <h1 data-text='Gerenciador de Tarefas'>Gerenciador de Tarefas</h1>
                <div id="add_tarefa">
                    <input id="01" required title="Teste"   name="01"   type="text" placeholder="Digite o título da tarefas">
                    <input id="02" required  title="Teste"  name="02"   type="text" placeholder="digite o descrição da tarefa">
                    <button id="button_butao">
                        Adicionar

                    </button>



                </div>
                    
                <ul>

      
                </ul>
    
            </div>
        </div> 

    </main>
    <footer>


    </footer>


<script src="../../../public/js/home.js"></script>    
</body>

</html>