<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador De Arquivos</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>

<body>
    <div>
        <form id="form-cadastro">
            <h1 id="cadastrobutton">Cadastro</h1>
            <label>Usuario</label>
            <input id="input-usuario" title="Informe o nome de usuario" placeholder="Informe o nome de usuario" required
                type="text">
            <label>Email</label>
            <input id="input-email" title="Informe o Email" placeholder="Informe o Email" required type="email">
            <label>Senha</label>
            <input id="input-senha" title="Informe sua senha" placeholder="Informe sua senha" required type="password">

            <button type="submit">Cadastre-se </button>
        </form>
        <a href="login">
            Voltar
        </a>
    </div>
    <script src="/js/cadastro.js"></script>
</body>

</html>