<!DOCTYPE html>

<head>
    <title>Gerenciador De Arquivos</title>
    <link rel="stylesheet" href="../../../public/css/cadastro.css">
</head>

<body>
    <div>
        <form>
            <h1 id="cadastrobutton">Cadastro</h1>
            <label>Usuario</label>
            <input type="text">
            <label>Email</label>
            <input type="text">
            <label>Senha</label>
            <input type="text">

            <button>Cadastre-se </button>
        </form>
        <a href="C:\Users\Eoraf\OneDrive\Desktop\gerenciador_de_tarefas\frontend\views\public\login.html">
            Voltar
        </a>
</body>

</html>