<!DOCTYPE html>

<head>
    <title>Gerenciador De Arquivos</title>
    <link rel="stylesheet" href="C:\Users\Eoraf\OneDrive\Desktop\gerenciador_de_tarefas\public\css\login.css">
</head>

<body>
    <div>
        <form>
            <h1 id="loginbutton">login</h1>
            <label>Usuario</label>
            <input type="text">
            <label>Senha</label>
            <input type="text">

            <button>Entrar</button>
        </form>
        <a href="C:\Users\Eoraf\OneDrive\Desktop\gerenciador_de_tarefas\frontend\views\public\cadastro.html">
            Cadastre-se
        </a>
</body>

</html>