<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador De Arquivos</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div>
        <form id="form-login">
            <h1 id="loginbutton">login</h1>
            <label>Usuario</label>
            <input id="input-usuario" title="Informe o nome de usuario" placeholder="Informe o nome de usuario" required
                type="text">
            <label>Senha</label>
            <input id="input-senha" title="Informe sua senha" placeholder="Informe sua senha" required type="password">

            <button id="btn-entrar" type="submit">Entrar</button>
        </form>
        <a href="cadastro">
            Cadastre-se
        </a>
        <script src="/js/login.js"></script>
</body>

</html>