<!DOCTYPE html>

<head>
    <title>Gerenciador De Arquivos</title>
    <link rel="stylesheet" href="../../../public/css/login.css">
</head>

<body>
    <div>
        <form id="forml-login">
            <h1 id="loginbutton">login</h1>
            <label>Usuario</label>
            <input id="input-usuario" title="Informe o nome de usuario" placeholder="Informe o nome de usuario" required
                type="text">
            <label>Senha</label>
            <input id="input-senha" title="Informe sua senha" placeholder="Informe sua senha" required type="password">

            <button id="btn-entrar">Entrar</button>
        </form>
        <a href="cadastro.html">
            Cadastre-se
        </a>
        <script src="../../../public/js/login.js"></script>
</body>

</html>